.HomeComp{
    border-bottom: 1px solid var(--currentLine);
    display: grid;
    grid-template-rows: 1fr auto;
    position: sticky;
    top: 0px;
    background-color: var(--background);
}

.HomeCompHead{
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    height: 75px;
}

.home-head{
    /* border: 1px solid red; */
    display: flex;
    gap: 50px;
}
    #make-post{
        border-radius: 12px;
        padding: 8px 12px;
        background-color: var(--purple);
        color: var(--white);
        font-weight: 700;
        border: none;
        cursor: pointer;
    }
.search-bar{
    display: flex;
    gap: 10px;
}


    #search-input{
        border-radius: 10px;
        border: none;
        background-color: var(--white);
        padding: 10px;
    }

  
    #search-logo{
        color: var(--purple);
        display: flex;
        align-items: center;
    }
    #search-logo>span{
        font-size: 20pt;
        cursor: pointer;
    }

#query-auto{
    height: 300px;
    overflow:scroll;
    width: 200px;
    background-color: var(--bg2);
    top: 70px;
    right: 60px; 
    position: absolute;
    display: none;
    padding: 5px;
}

    #query-link{
        color: var(--white);
    }
    .query-result{
        padding-top: 10px;
    }
    .query-result:hover{
        background-color: var(--currentLine);
    }

.form-newPost{
    border: 1px solid grey;
}

.homeComp-postForm{ 
    height: 170px;
    display: none; 
    position: absolute;
    top: 80px;
    left: 11%;
    width: 600px;    
}
    .newpost-form{
       display: grid;
       grid-template-rows: 3fr 1fr;
       padding: 10px;
       gap: 10px;
       background-color: var(--bg2);
       border-radius: 5px;
       margin:0px 30px;
    }
    .newpost-main{
        display: flex;
        justify-content: center;
        align-items: flex-start;
       
    }
    .newpost-button{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        
    }
        #newpost-submit{
        color: var(--white);
        background-color: var(--purple);
        border: none;
        border-radius: 10px;
        padding: 5px 10px;
        font-weight: 600;
        }
        #newpost-submit:hover{
            cursor: pointer;
        }

    #newpost-text{
        resize: none;
        height: 100px;
        width: 100%;
        border-radius: 5px;
    }