.message-dashboard{
    border-right: 1px solid var(--bg2);
}
.chatRoom-container{
    border-bottom: 1px solid var(--bg2);
    padding: 10px 5px;
}

.chatRoom-member{
    color: var(--white);
   
}
.chatRoom-lastContent{
    color: var(--bg2);
}

#groupChat-text{
    color: var(--purple);
}
