.Login{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.login-col1{
 background-image: url(../../assets/login-bg.jpg);
 background-size:     cover;                    
 background-repeat:   no-repeat;
 background-position: center center;  
}
.login-col2{
    
    background-color: rgb(18,16,29);
    height: 100vh;
    display: flex;
    justify-content: center;
}

.login-box{
    border: 1px solid var(--bg2);
    border-radius: 1px;
    width: 300px;
    height: 400px;
    margin-top: 100px;
    padding: 20px 50px;
    display: grid;   
    grid-template-rows: 2fr 1.5fr 5fr;
    background-color: var(--background);
   
}
    h2{
        font-size: 22pt;
    }

    #link-home{
        text-decoration: none;
        color: var(--purple);
    }
.login-box>div{
   /*  border: 1px solid grey; */
}
    .login-head{
    display: flex;
    justify-content: center;
    color: var(--purple);
    }
    .sign-form{
      
    }

    .submit-btn{
        border: none;
        padding: 5px 10px;
        border-radius: 10px;
        background-color: var(--purple);
        color: white;
        font-weight: 700;
        cursor: pointer;
        transition: 0.5s;
    }
    .submit-btn:hover{
        color: var(--background);
        background-color: var(--green);
    }
    .form-sign{
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }
    .email-cont, .pass-cont{
    /* border:1px solid red; */
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    gap: 10px;
    }

    .sign-select{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        color: var(--white);
    }
        .signup-toggle, .login-toggle{
            cursor: pointer;
            transition: 0.1s;
            font-weight: 600;
        }
        .signup-toggle:hover ,.login-toggle:hover{
            padding-bottom: 2px;
            font-weight: 500;
            color: var(--green);
        }
        .signup-toggle{
            border-bottom: 1px solid var(--purple);
        }


    #signup-wrap{

    }

    #login-wrap{
        display: none;
    }

    label{
        color:var(--green);
    }

