#message-main{
    display: grid;
    grid-template-columns: 1fr 2fr;
   
}

#message-main>div{
    border: 1px solid white;
}

.chatRoom-container{
    border: 1px solid white;
    padding: 10px 5px;
}