#message-main{
    display: grid;
    grid-template-columns: 1fr 2fr;
   
}

#message-main>div{
   
}

#search-bar-chat{
    display: grid;
    grid-template-columns: auto 50px;
    padding: 20px;
}

.map-search-new-chat{
    overflow: auto;
    max-height: 650px;
}

#new-chat-img{
    border-radius: 50%;
    position: relative;
    top: 5px;
}

#query-message{
    display: grid;
    grid-template-columns: 100px auto;
    padding: 20px;
    padding-left: 25px;
    transition: 0.5s;
}
#query-message:hover {
    background-color: var(--bg2OP);
}

.new-chat-username{
    color: var(--white);
    font-weight: 800;
}
.new-chat-email{
    color: var(--purple);
}

#new-chat-btn{
    margin-top: 5px;
    border: none;
    background-color: var(--green);
    color: black;
    transition: 0.5s;
    border-radius: 15px;
    padding: 2px 3px;
    font-weight: 700;
    display: grid;
    place-items: center;
}

#new-chat-btn:hover{
    margin-left: 5px;
}

