#profile-main{
    display: grid;
    grid-template-rows: 200px 8fr;
}
    .profile-head{
        display: grid;
        grid-template-columns: 1fr 2.5fr;
        font-weight: 600;
    }
/* box shadow */
    .profile-head{
        box-shadow:  7px 7px 14px #0d0c14,
        -7px -7px 14px #171626;
    }

    .profile-detail{
        padding-top: 30px;
        display: grid;
        grid-template-rows: 2fr 2fr 2fr;
    }

    #post-count, #friend-count{
        color: var(--white)
    }
    
    .profile-row1, .profile-row2{
       
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .profile-username{
        display: grid;
        grid-template-columns: 100px 150px 50px;
    }
        .profile-email{
            display: grid;
            grid-template-columns: 100px 1fr;  
        }
        .tag{
            color: var(--purple);
        }
        .text{
            color: var(--white);
        }

        .profile-pic-cont{
            
            display: flex;
            justify-content: flex-start;
            align-items:center;
            padding-top: 30px;
            flex-direction: column;
            gap: 20px;
        }

        #profileImgProfile{
            border-radius: 50%;
        }

    .profile-body{
        /* border-top: 1px solid var(--currentLine); */
    }

    #profileForm, #imageForm{
        display: none;
    }

/* -----BOTTON------ */
#edit-btn-profImg, #edit-btn-username{
    background-color: var(--background00);
    border: none;
    color: var(--bg2);
    
}
#edit-btn-profImg:hover , #edit-btn-username:hover{
    color: var(--purple);
}


#friends-list{
    display: none;
    position: absolute;
    top: 150px;
    background-color: var(--bg2);
    padding: 30px 50px;
}
.friends-count, .post-count-cont{
    display: grid;
    grid-template-columns: 100px 1fr;
    cursor: pointer;
    color: var(--purple);
}

.friendList-cont{
    padding-top: 20px;
}