#alert-box{
    width: 250px;
    height: 80px;
    position:absolute;
    bottom: 20px;
    right: 10px;
    background-color: var(--bg2);
    border-radius: 15px;
    justify-content: flex-start;
    padding: 20px;
    display: none;
    animation-name:popAlert;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes popAlert{
    0%{ opacity: 0;
        transform: translateY(100px);
        }
    25%{opacity: 0.25;}
    50%{opacity: 0.5;}
    75%{opacity: 0.75;}
    100%{opacity: 1;
    transform: translateY(0px);}
}

#alert-msg{
    font-size: 13pt;
}
