.notif-page{
    display: grid;
    grid-template-rows: 80px 1fr;
    /* padding: 30px 60px; */
    padding: 30px 60px;
}

.friendReq-head{
 font-size: 14pt;
 font-weight: 700;
 color: var(--purple);
 display: flex;
 gap: 60px;
}
.friendReq-head>div{
    cursor: pointer;
}

#friendReq-select{
    color: var(--bg2);
}
.friendReq-main{
    display: none;
}

.friendReq-cont{
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 5fr;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
}
.friendReq-username{
    color: var(--purple);
}
.friendReq-email{
    color: var(--green);
}
.friendReq-status{
    color: var(--bg2);
}

.friendReq-button-cont{
    padding-top: 10px;
    display: grid;
    grid-template-columns: repeat(2,70px);
    gap: 10px;
}
.friendReq-button-cont>button{
    color: var(--white);
    background-color: var(--bg2);
    border: none;
    padding: 5px 8px;
}

button:hover {
    cursor: pointer;
    color: var(--purple);
}

.likeAndComment-cont{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 20px 30px 30px 30px;
}

.likeAndComment-cont>div{
    padding-bottom: 3px;
}

#notif-image{
    grid-column: 1/2;
    grid-row: 1/5;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    position: relative;
    top: 10px;
}

.likeAndComment-username{
    color: var(--purple);
}

#notif-email{
color: var(--green);
}

#notif-action{
   
}

#notif-date{
    color: var(--bg2);
    font-size: 10pt;
}

#unseen-notif{
    background-color: var(--backgroundOP);
    border-radius: 10px;
}