.profile-row3{
    padding-top: 10px;
}

#link-user{
    text-decoration: none;
    color: rgb(142, 179, 248);
}

#friendReq-btn, #friend-remove{
    cursor: pointer;
    background-color: var(--purple);
    border: none;
    color: var(--white);
    padding: 5px 8px;
    border-radius: 10px;
    transition: 0.5s;
    font-weight: 600;
}

#friendReq-btn:hover {
    background-color: var(--green);
    color: black;
}

.friendStatus{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

.friendStatus:hover{
    
}
.friendStatus>span{
    font-size: 20px;
}