.Dashboard{
    border: 1px solid grey;
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    padding-left: 25px;
}

.links-cont{
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    gap: 15px;
    

}
#dash-link{
    text-decoration: none;
    color: white;
    cursor: pointer;
}