.profile-username-form{
    color: var(--white);
    position: absolute;
    left: 35%;
    top: 200px;
    background-color: var(--bg2);
    height: 100px;
    width: 250px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 10px;
}

.profile-username-form{
    border-radius: 0px;
    background: #282a36;
    box-shadow:  5px 5px 0px #1a1b23,
                 -5px -5px 0px #363949;
}

.profile-username-form>label{
    color: var(--green);
    font-weight: 600;
}

.profile-username-form>input{
    height: 30px;
  
}

#confirmUser-btn{
    background-color: var(--purple);
    color: var(--white);
    border: none;
    height: 30px;
    font-weight: 600;
    width: 150px;
    margin: 0 auto;
}

#confirmUser-btn:hover{
    cursor: pointer;
}