.Sidebar{
   display: grid;
   grid-template-rows: 80px 1fr 150px;
}

.sidebar-head{
   position: sticky;
   top: 0px;
   padding-top:20px;
   display: flex;
   justify-content: center;
   font-weight: 600;
   color: var(--green);
   background-color: var(--background);
   
}
.sidebar-main{
   display: flex;
   flex-direction: column;
   padding-left: 50px;
   font-weight: 600;
   
}
   .display-user{
      padding-bottom: 15px;
   }
   .display-username:hover{
      color:var(--green);
      transform:translateX(-5px);

   }
   .display-username{
      transition: 1s;
      cursor: pointer;
   }
   .display-email{
      color: var(--purple);
      transition: 1s;
      cursor: pointer;
   }
#link-user-sidebar{
   text-decoration: none;
   color:var(--white);
}

   .sidebar-bottom{
     border-top: 1px solid var(--currentLine);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 5px;
     
   }  

   .desc1, .desc2{
      font-size: 10pt;
      color: var(--bg2);

   }

   .desc3{
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   .desc3>div{
      padding-bottom: 5px;
      color: var(--green);
      font-weight: 600;
      font-size: 12pt;
   }

   a{
      text-decoration: none;
      color: var(--white);
   }

   #github-logo{
      font-size: 20pt;
   }