.Dashboard{
    border: 1px solid grey;
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    padding-left: 25px;
}



.links-cont{
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 30px;
    padding-right: 30px;
    padding-left: 50px;
}
    #link-cont{
        display: flex;
        flex-direction: row-reverse;
       justify-content: space-between;
      text-decoration: none;
      color: white;
    }
#dash-link{
    text-decoration: none;
    color: white;
    cursor: pointer;
}