.dashboard-wrapper{

}

.Dashboard{
    display: grid;
    grid-template-rows: 150px 300px 200px;
    padding-left: 25px;
    position: sticky;
    top: 0px;
    height:100vh;
    
}

.Dashboard>div{
   
}

.app-title{
    font-weight: 800;
    font-size: 22pt;
    padding-top: 25px;
    transition: 0.5s;
    color: var(--purple);
}
    .app-title:hover{
        color: var(--green);
    }
.title-dashboard{
    padding-left: 25px;
}
#title-link{
    text-decoration: none;
    color: var(--white);
}

.links-cont{
   /*  border: 1px solid red; */
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 30px;
    padding-right: 50px;
    padding-left: 30px;
}
    .sign-links{
        padding-top: 10px;
    }

    #link-cont{
        display: flex;
        flex-direction: row-reverse;
       justify-content: space-between;
      text-decoration: none;
      color: var(--purple);
    }
   
    #link-icon:hover{
        font-weight: 700;
        color: var(--pink)
    }

#dash-link{
    text-decoration: none;
    color: var(--white);
    cursor: pointer;
    font-size: 14pt;
    font-weight: 600;
    transition: 0.5s;
}
#dash-link:hover{
    transform: translateX(5px);
    font-weight: 700;
    color: var(--purple);
}

.dashboard-bottom{
    margin-right: 25px;
    display: grid;
    grid-template-rows: 2fr 1fr;
}

.dashboard-bottom>div{
   /*  border: 1px solid grey; */
}

.profPic-cont{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
    #profileImgDash{
        border-radius: 50%;
    }
.profInfo-cont{
    display: flex;
    justify-content: center;
    align-items: center;
}
    .profileInfoDash{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .currentUser-email{
        color: var(--purple);
    }
    .currentUser-username{
        color: var(--white);
        font-weight: 600;
    }

#alert-box{
    width: 250px;
    height: 80px;
    opacity: 0.9;
    position: absolute;
    bottom: 20px;
    left: 400%;
    background-color: var(--bg2);
    border-radius: 15px;
    display: flex;
    justify-content: flex-start;
    padding: 20px;
    transition: 0.5s;
    display: none;
}
#alert-msg{
    font-size: 13pt;
}