@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root{
  --background : rgb(40 42 54	);
  --backgroundOP : rgb(40 ,42 ,54,0.6	);
  --purple:rgb(189 147 249);
  --pink : rgb(255 121 198);
  --red : rgb(255 85 85);
  --cyan : rgb(139 233 253);
  --yellow : rgb(241 250 140);
  --bg2 : rgb(98 114 164);
  --bg2OP : rgb(98, 114, 164,0.5 );
  --white: rgb(248 248 242	);
  --green: rgb(80 250 123);
  --currentLine : rgb(68 71 90);
  --background00:  rgb(18,16,29);
  --background00OP:  rgb(18,16,29,0.7);
}

body {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background00);
  color: var(--white);

}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.App{
  display: grid;
  grid-template-columns: 2.5fr 6fr 2.5fr;
  grid-template-rows: 1fr;
  height: 100vh;
}



  .main{
      border-left: 1px solid var(--currentLine);
      border-right: 1px solid var(--currentLine);
  }

@media screen and (max-width: 500px) {
  .Dashboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 120px; 
  }

  .title-dashboard{
    display: flex;
    justify-content: center;
    padding-left: 0px;
  }
  .dashboard-bottom{
    display: none;
  }
  #sidebar-wrapper, #dash-link, .HomeComp{
    display: none;
  }
  .links-cont{
    flex-direction: row;
    
  }
  .sign-links{
    padding-top: 0px;
  }
  .profile-head{
    padding-top: 20px;
    padding-left: 20px;
    font-size: 11pt;
    gap: 25px;
  }
  .profile-detail{
    grid-template-rows: 2fr 2fr 2fr;
  }
  .profile-username, .profile-email{
    grid-template-columns: 1fr;
  }
  #profileImgProfile{
    height: 60px;
    width: 60px;
  }

  .App{
    grid-template-columns: auto;
    grid-template-rows: 100px 1fr;
    padding-left: 0px;
    padding-right: 0px; 
  }
  
  .login-box{
   
    
  }
}