@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root{
  --background : rgb(40 42 54	);
  --backgroundOP : rgb(40 ,42 ,54,0.6	);
  --purple:rgb(189 147 249);
  --pink : rgb(255 121 198);
  --red : rgb(255 85 85);
  --cyan : rgb(139 233 253);
  --yellow : rgb(241 250 140);
  --bg2 : rgb(98 114 164);
  --bg2OP : rgb(98, 114, 164,0.5 );
  --white: rgb(248 248 242	);
  --green: rgb(80 250 123);
  --currentLine : rgb(68 71 90);
  --background00:  rgb(18,16,29);
  --backgroundHomeComp:  rgb(20,18,30);
  --background00OP:  rgb(18,16,29,0.7);
}

body {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background00);
  color: var(--white);

}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.App{
  display: grid;
  grid-template-columns: 2.5fr 6fr 2.5fr;
  grid-template-rows: 1fr;
  height: 100vh;
}



  .main{
     /*  border-left: 1px solid var(--currentLine); */
     /*  border-right: 1px solid var(--currentLine); */
  }




@media screen and (max-width: 1000px) {
  .App{
    zoom: 75%;
  }
  .dashboard-wrapper{
    height: 50px;
  }
  .Dashboard{
    padding-left:0px;
    height:50px;
    display: grid;
    place-items: center;
  }

  .title-dashboard{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    padding-left: 0px;
    padding-top: 0px;
    position: fixed;
    width: 100%;
    top: 10px;
    background-color: var(--background00);
  }
    .app-title{
      
    }
  .dashboard-bottom{
    display: none;
  }
  #sidebar-wrapper, #dash-link{
    display: none;
  }

  .HomeComp{
    background-color: transparent;
  }
  .home-head, .search-bar{
    display: none;
  }
  
  .links-cont{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 75px;
    padding: 0;
    background-color: var(--background00OP);
    border: 1px solid red;
  }
  .links-cont>div{
    display: grid;
    place-items: center;
  }
  #link-icon{
    
  }

  .sign-links{
    padding-top: 0px;
  }
  .profile-head{
    padding-top: 20px;
    padding-left: 20px;
    font-size: 11pt;
    gap: 25px;
  }
  .profile-detail{
    grid-template-rows: 2fr 2fr 2fr;
  }
  .profile-username, .profile-email{
    
  }
  #profileImgProfile{
    height: 60px;
    width: 60px;
  }

  .App{
    grid-template-columns: auto;
    grid-template-rows: 100px 1fr;
    padding-left: 10px;
    padding-right: 10px; 
  }

  

  /* make post container for new post */
  #make-post{
    display: block;
  }

  /* login---page */

  .Login{
    background-image: url(../src/assets/login-bg.jpg);
    background-size:     cover;                    
    background-repeat:   no-repeat;
    background-position: center center;  
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;

  }
  .login-col1{
    display: hide;
  }
  .login-col2{
    background-color: transparent;
  }

  .login-box{
    background-color: var(--background00);
    box-shadow: none;
    border: none;
  }
  /* notification- page */
  .notif-page{
    place-items: center;
  }
   .likeAndComment-cont{
    grid-template-columns: 2fr 5fr;
  }
  .friendReq-cont{
    grid-template-columns: 3fr 5fr;
  }
  /* blurred bg dash */
  .blurred-bg-dash{
    height: 10000%;
  }
  #new-post-mobile{
    display: inline;
    z-index: 9;
  }

  /* home comp post form */
  .homeComp-postForm{ 
    height: 150px;
    bottom: 100px;
    position:fixed;
    top: 80%;
    max-width: 400px;   
    
}
}