@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root{
  --background : rgb(40 42 54	);
  --purple:rgb(189 147 249);
  --pink : rgb(255 121 198);
  --red : rgb(255 85 85);
  --cyan : rgb(139 233 253);
  --yellow : rgb(241 250 140);
  --bg2 : rgb(98 114 164);
  --white: rgb(248 248 242	);
  --green: rgb(80 250 123);
  --currentLine : rgb(68 71 90);
}

body {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  color: var(--white);
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.App{
  display: grid;
  grid-template-columns: 2fr 6fr 2.5fr;
  grid-template-rows: 1fr;
  height: 100vh;
}
  .main{
      border-left: 1px solid var(--currentLine);
      border-right: 1px solid var(--currentLine);
  }